@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/*font-family: 'Lexend Deca', sans-serif;
font-family: 'Big Shoulders Display', cursive;*/

:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
  --Very-light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

img {
    display: block;
    max-width: 100%;
    padding-bottom: 40px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--Very-light-gray);
    padding-bottom: 25px;
}

p {
    overflow-wrap: break-word;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--Transparent-white);
    padding-bottom: 40px;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--Very-light-gray);
    font-size: 1em;
}

#grid-items {
    display: grid;
    grid-template-columns: repeat(5, 320px);
    grid-template-rows: repeat(3, 500px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.sedan-row {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--Bright-orange);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.suv-row {
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--Dark-cyan);
}

.luxury-row {
    grid-area: 2 / 4 / 3 / 5;
    background-color: var(--Very-dark-cyan);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   
}

.sedan-content {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 50px;
}

.suv-content {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 50px;
}

.luxury-content {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 50px;
}

.description {
    line-height: 25px;
    padding-bottom: 45px;
}
button {
    border-radius: 20px;
    padding: 13px 30px;
    border: none;
}

a {
    text-decoration: none;
}

.sedan-more {
    color: var(--Bright-orange);
}

.suv-more {
    color: var(--Dark-cyan);
}

.luxury-more {
    color: var(--Very-dark-cyan);
}

.new-line:after {
    content: '\A';
    white-space: pre;
}

button:hover {
    cursor: pointer;
    background: transparent;
    border: .2em solid white;
    border-radius: 25px;
    margin: -1px;
    color: white;
}

@media (max-width: 375px) {
    #grid-items {
        display: grid;
        grid-template-columns: repeat(5, 320px);
        grid-template-rows: repeat(5, 400px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .sedan-row {
        grid-area: 2 / 3 / 2 / 3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    
    .suv-row {
        grid-area: 3 / 3 / 4 / 4;
    }
    
    .luxury-row {
        grid-area: 4 / 3 / 5 / 4;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }

    .sedan-content {
        padding-top: 35px;
        padding-left: 35px;
        padding-right: 40px;
    }
    
    .suv-content {
        padding-top: 35px;
        padding-left: 35px;
        padding-right: 40px;
    }
    
    .luxury-content {
        padding-top: 35px;
        padding-left: 35px;
        padding-right: 40px;
    }

    img {
        block-size: 55px;
        padding-bottom: 20px;
    }

    h1 {
        padding-bottom: 20px;
        font-size: 2.2em;
    }
    
    p {
        padding-bottom: 0;
        font-size:  .9em;
    }
    
    .description {
        padding-bottom: 25px;
    }
    
    .new-line::after {
        white-space: normal;
    }

    .new-line-mobile::before {
        content: '\A';
        white-space: pre;
    }
}